.card-dashboard .col-md-4 a p {
    font-size: 48px;
    margin-top: 20px;
    text-decoration: none;
    color: white;
}

.card-dashboard .col-md-8 .card-body {
    color: #707070;
}

.content .row .col-12 {
    color: #414141;
}

.content .row .col-md-12 {
    color: #414141;
}